# RedditStats
This analysis concern the publishment statistic of the **dataisbeautiful** subreddits. 

## Dataset
This dataset contains everything we need to get information from a post:
- id
- title 
- score
- author
- authorfalirtext
- removed_by
- totalawardsreceived
- awarders
- created_utc
- full_link
- num_commnets
- over_18

Thanks to Raphael Fontes for this csv. You can watch other tasks on <a href="https://www.kaggle.com/unanimad/dataisbeautiful">Kaggle</a>.


## Question 
1) What is the average of titles' lenght? <br />
2) Who are the authors with more posts? <br />
3) Who mostly remove posts? <br />
4) Which are the post with more comments? <br />
5) What is the most common time for a post? <br />
6) Are there more over 18 or under 18?  <br />
7) Which are the most used words? <br />

## Let's start
First of all, we need to import all the modules, in particular Pandas and Numpy for the data manipulation, then Matplotlib and Seaborn for the data visualization. Datetime and dateutil will be useful for working on datas.

In [2]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
from matplotlib import cm
import seaborn as sns

import datetime
from datetime import date

Now we need to import our csv

In [6]:
df = pd.read_csv('CSV/r_dataisbeautiful_posts.csv')

c:\users\francesco\appdata\local\programs\python\python37\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

We'll get into this error: "Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False." <br /><br /> We need to add just the **dtype**, as following

In [48]:
df = pd.read_csv('CSV/r_dataisbeautiful_posts.csv', dtype="unicode")

This is the dataset's first row

In [50]:
df.head(1)

,id,title,score,author,author_flair_text,removed_by,total_awards_received,awarders,created_utc,full_link,num_comments,over_18
0,hbyv2e,[OC] How Bar Chart Race Animation Can be Creat...,1,Tom10AE,NaN,NaN,0.0,[],1592565317,https://www.reddit.com/r/dataisbeautiful/comme...,0,False

### 1) What is the average of titles' lenght? 
Firstly, we add another column with every title's length, and just then we can calculate the average.

In [68]:
df['title_length'] = df['title'].astype(str).apply(len)
df['title_length'].mean()

63.112485113463954

So the average title's length is around 63 characters.

### 2) Who are the authors with more posts?
We can respond to this question with a group by and a consecutive barchart.

In [81]:
top10authors = df.groupby(["author"]).count()["id"].sort_values(ascending=False)[:10]
top10authors

author
[deleted]      28596
jimrosenz       2293
OverflowDs       484
RAGTIMEMA        325
rhiever          323
sofl96           314
caobanlong       314
BoMcCready       263
profcyclist      246
flerlagekr       241
Name: id, dtype: int64

In [ ]:
As we can see, we need to delete all the columns with "[deleted]" as the author's name